{% extends 'tmdbmovies/base.html' %}
{% block content %}

{% if user.is_authenticated %}

<header>
  <div class="row">
    <div class="col-sm-10">
      <h2>{{ movie.title | safe }}</h2>
    </div>
    <div class="col-xs-1">
      {% if user.is_authenticated %}
        <a class="btn btn-outline-secondary" href="{% url 'movie_update' movie.pk %}">edit</a>
      {% endif %}
    </div>
    <div class="col-xs-1">
      {% if user.is_authenticated %}
        &nbsp;<a class="btn btn-outline-warning" href="{% url 'movie_delete' movie.pk %}">delete</a>
      {% endif %}
    </div>
  </div>
</header>

{% if movie.genre_names %}
<div class="row">
  <div class="col-sm-2">
    <p>Genre</p>
  </div>
  <div class="col-sm-10">
    <p>{{ movie.genre_names}}</p>
  </div>
</div>
{% endif %}

<!-- {% if movie.cast_names %}
<div class="row">
  <div class="col-sm-2">
    <p>Cast</p>
  </div>
  <div class="col-sm-10">
    <p>{{ movie.cast_names}}</p>
  </div>
</div>
{% endif %} -->

{% if movie.budget %}
<div class="row">
    <div class="col-sm-2">
      <p>Budget</p>
    </div>
    <div class="col-sm-10">
      <p>{{ movie.budget}}</p>
    </div>
  </div>
{% endif %}

{% if movie.budget %}
<div class="row">
    <div class="col-sm-2">
      <p>Homepage</p>
    </div>
    <div class="col-sm-10">
      <p>{{ movie.homepage}}</p>
    </div>
  </div>
{% endif %}

{% if movie.tmdb_id %}
<div class="row">
    <div class="col-sm-2">
      <p>TMDB ID</p>
    </div>
    <div class="col-sm-10">
      <p>{{ movie.tmdb_id}}</p>
    </div>
  </div>
{% endif %}

{% if movie.original_language%}
<div class="row">
    <div class="col-sm-2">
      <p>Original Language</p>
    </div>
    <div class="col-sm-10">
      <p>{{ movie.original_language}}</p>
    </div>
  </div>
{% endif %}

{% if movie.original_title%}
<div class="row">
    <div class="col-sm-2">
      <p>Original Title</p>
    </div>
    <div class="col-sm-10">
      <p>{{ movie.original_title}}</p>
    </div>
  </div>
{% endif %}

{% if movie.overview %}
<div class="row">
    <div class="col-sm-2">
      <p>Overview</p>
    </div>
    <div class="col-sm-10">
      <p>{{ movie.overview}}</p>
    </div>
  </div>
{% endif %}

{% if movie.popularity %}
<div class="row">
    <div class="col-sm-2">
      <p>Popularity</p>
    </div>
    <div class="col-sm-10">
      <p>{{ movie.popularity}}</p>
    </div>
  </div>
{% endif %}

{% if movie.revenue %}
<div class="row">
    <div class="col-sm-2">
      <p>Revenue</p>
    </div>
    <div class="col-sm-10">
      <p>{{ movie.revenue}}</p>
    </div>
  </div>
{% endif %}

{% if movie.runtime %}
<div class="row">
    <div class="col-sm-2">
      <p>Run Time</p>
    </div>
    <div class="col-sm-10">
      <p>{{ movie.runtime}}</p>
    </div>
  </div>
{% endif %}

{% if movie.tagline %}
<div class="row">
    <div class="col-sm-2">
      <p>Tagline</p>
    </div>
    <div class="col-sm-10">
      <p>{{ movie.tagline}}</p>
    </div>
  </div>
{% endif %}

{% if movie.vote_average %}
<div class="row">
    <div class="col-sm-2">
      <p>Vote Average</p>
    </div>
    <div class="col-sm-10">
      <p>{{ movie.vote_average}}</p>
    </div>
  </div>
{% endif %}

{% if movie.vote_count %}
<div class="row">
    <div class="col-sm-2">
      <p>Vote Count</p>
    </div>
    <div class="col-sm-10">
      <p>{{ movie.vote_count}}</p>
    </div>
  </div>


{% endif %}
{% else %}
<a href="{% url 'login' %}">Log in</a>
{% endif %}
{% endblock content %}}